<a href="https://colab.research.google.com/github/Lokesh830950/patterns/blob/main/lokesh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[1,2,3,4]
l2=["apple","orange"]
l1.append(l2)
print(l1)
l1.extend(l2)
print(l1)

[1, 2, 3, 4, ['apple', 'orange']]
[1, 2, 3, 4, ['apple', 'orange'], 'apple', 'orange']

In [ ]:
pd.data[['lable']]=pd.data[['loki']]

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input())
count=0
for i in range(2,n//2+1):
  if n%i==0:
    count+=1
    break
if count==0:
  print("prime")
else:
  print("not prime")

156
not prime

In [ ]:
m="goodmorning"
print(m[-5:])

rning

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("$",end="")
    else:
      print(end=" ")
  print()

4
$$$$
$  $
$  $
$$$$

In [ ]:
num = int(input())
arr = []
sum = 0
count = 0
if num > 1:
    for i in range(2, num + 2):
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            arr.append(i)
def is_prime(sum):
    for i in range(2,sum):
        if sum % i == 0:
            return False
        else:
            return True
for i in range(0, len(arr)):
    sum = sum + arr[i]
    if sum <= num:
        if is_prime(sum):
            count = count + 1

print(count)

20
2

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr1=arr[:len(arr)//2]
arr1.sort()
arr2=arr[len(arr)//2:]
arr2.sort(reverse=True)
print(*(arr1+arr2))

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
arr.view()
for i in arr:
  print(i)

1
2
3
4
5

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
a=0
for i in arr:
  a=i+a
print(a//n)

5
1 2 3 4 5
3

In [ ]:
#tcs previos question
num = int(input())
arr = []
sum = 0
count = 0
if num > 1:
    for i in range(2, num + 2):
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            arr.append(i)
def is_prime(sum):
    for i in range(2, (sum // 2) +2):
        if sum % i == 0:
            return False
        else:
            return True
for i in range(0, len(arr)):
    sum = sum + arr[i]
    if sum <= num:
        if is_prime(sum):
            count = count + 1

print(count)

45
3

In [ ]:
n=9
for i in range(1,n+1):
  for j in range(n-i):
    print("*",end="")
  for k in range(1,i+1):
    print(k,end='')
  print()

********1
*******12
******123
*****1234
****12345
***123456
**1234567
*12345678
123456789

In [ ]:
def num(n):
  if n%2==0:
    return "even"
  else:
    return "odd"
m=int(input())
print(num(m))

10
even

In [ ]:
def solve(n):
  for i in n:
    if i%2==0:
      print(i)
n=list(map(int,input().split()))
solve(n)

1 2 3 4 5 6 7 8 9 70 1 02
2
4
6
8
70
2

In [ ]:
k=input()
n=k[0]
n=int(n)
day=k[2:]
if day=="true":
  if n>1 and n<=6:
    print("7:00")
  else:
    print("9:00")
else:
  if day=="false":
    if n in range(1,7):
      print("5:00")
    else:
      print("6.00")

5 true
7:00

In [ ]:
n=int(input())
k=0
for i in range(n,0,-1):
  print(" "*k,end=" ")
  for j in range(i,0,-1):
    print(i,end=" ")
  k+=1
  print()
a=n-2
for i in range(n-1):
  print(" "*a,end=" ")
  for j in range(i+2):
    print(i+2,end=" ")
  a-=1
  print()

5
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

In [ ]:

def displayPathtoPrincess(n,grid):
    pos_col =""
    pos_row = ""
    not_find = True

    for i in range(n):
        line = len(grid[i])
        for j in range(line):
            if grid[i][j] == 'm':
                pos_rowm = i
                pos_colm = j
            elif grid[i][j] == 'p':
                pos_rowp= i
                pos_colp = j

    while (not_find):
        if pos_rowm < pos_rowp:
            pos_rowm = pos_rowm + 1
            print ('DOWN')
        elif pos_rowm > pos_rowp:
            pos_rowm = pos_row - 1
            print ('UP')

        if pos_colm < pos_colp:
            pos_colm = pos_colm + 1
            print ('RIGHT')
        elif pos_colm > pos_colp:
            pos_colm = pos_colm - 1
            print ('LEFT')

        if pos_colm == pos_colp and pos_rowm == pos_rowm:
            not_find = False

#print all the moves here
m = int(input())
grid = []
for i in range(0, m):
    grid.append(input().strip())

displayPathtoPrincess(m,grid)

3
1 2 3 4 5 6 7 8 9
2
4

UnboundLocalError: ignored

In [ ]:
n=42
a=[]
for i in range(2,44):
  for j in range(2,i):
    if i%j==0:
      break
  else:
     a.append(i)
print(a)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43]

In [ ]:
n=int(input())
for i in range(n,0,-1):
  for j in range(i):
    print("*",end=' ')
  print()

4

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(i,n+1):
    print("x",end=" ")
  print( )

4
x x x x
x x x
x x
x

In [ ]:
arr=list(map(int,input().split()))
n=len(arr)
for i in range(n):
  min=i
  for j in range(i+1,n):
   if arr[j]<arr[min]:
     min=j
  (arr[i], arr[min])=(arr[min], arr[i])
print(arr)

4 5 7 8 9 1 2 3 6
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def selectionSort(array, size):
    for ind in range(size):
        min_index = ind
        for j in range(ind + 1, size):
            if array[j] < array[min_index]:
                min_index = j
        (array[ind], array[min_index]) = (array[min_index], array[ind])

arr = [-2, 45, 0, 11, -9,88,-97,-202,747]
size = len(arr)
selectionSort(arr, size)
print('The array after sorting :')
print(arr)

The array after sorting in Ascending Order by selection sort is:
[-202, -97, -9, -2, 0, 11, 45, 88, 747]

In [ ]:
arr = list(map(int, input().split()))
print(arr)
print(len(arr))

2 3 4 5 6 78 9
[2, 3, 4, 5, 6, 78, 9]
7

In [ ]:
arr=list(map(int,input().split()))
n=len(arr)
r=arr[0]
c=arr[1]
matrix=[]
b=2
for i in range(r):
  a=[]
  for j in range(c):
    a.append(arr[b])
    b+=1
  matrix.append(a)
for i in range(r):
  for j in range(c):
    print(matrix[i][j],end=' ')
  print()

7 7 26 28 5 18 27 32 50 13 42 32 11 5 40 27 16 34 23 49 44 17 36 48 10 46 20 13 43 36 1 10 19 29 23 22 20 49 35 15 41 7 29 34 13 23 45 50 31 8 2
26 28 5 18 27 32 50
13 42 32 11 5 40 27
16 34 23 49 44 17 36
48 10 46 20 13 43 36
1 10 19 29 23 22 20
49 35 15 41 7 29 34
13 23 45 50 31 8 2

In [ ]:
n=int(input())
for i in range(2,n):
  if n%i==0:
    print("no")
    break
else:
  print("yes")

6
no

In [ ]:
row = [int(i) for i in input().split()]
n = row[0]
row = row[2:]
matrix = []
for i in range(n):
    matrix.append(row[:n])
    row = row[n:]
print(matrix)

7 7 26 28 5 18 27 32 50 13 42 32 11 5 40 27 16 34 23 49 44 17 36 48 10 46 20 13 43 36 1 10 19 29 23 22 20 49 35 15 41 7 29 34 13 23 45 50 31 8 2
[[26, 28, 5, 18, 27, 32, 50], [13, 42, 32, 11, 5, 40, 27], [16, 34, 23, 49, 44, 17, 36], [48, 10, 46, 20, 13, 43, 36], [1, 10, 19, 29, 23, 22, 20], [49, 35, 15, 41, 7, 29, 34], [13, 23, 45, 50, 31, 8, 2]]

In [ ]:
arr1=arr[:n//2]
arr2=arr[n//2:]

In [ ]:
t=int(input())
for i in range(t):
    n=int(input())
    p=int(input())
    a=[ ]
    for j in range(n):
        c=0
        a.append(c)
    for k in range(n):
        for x in range(k,n):
            a[x]=a[x]+1
            p-=1
    if p>0:
        a[0]=a[0]+p
    for i in a:
        print(i,end=" ")
    print()

2
2
3
1 2
3
20
15 2 3

In [ ]:
arr = list(map(int, input().split()))
n=len(arr)
print( n)

2 240 552 4512 12 5
6

In [ ]:
n=int(input())
for i in range(n,):
  for j in range(i*2,0,-1):
    print(" ",end='')
  for k in range(n-i,0,-1):
    print("x",end='')
  print()

5
xxxxx
  xxxx
    xxx
      xx
        x

In [ ]:
#s=input()
l=int(input())
#if i%2==0:
for i in range(l):
   j=l-i-1
   for k in range(l):
     if k==i or k==j:
       print("x",end='')
     else:
         print(end=" ")
   print()

7
x     x
 x   x
  x x
   x
  x x
 x   x
x     x

In [ ]:
arr=list(map(int,input().split()))
n=len(arr)
r=arr[0]
c=arr[1]
matrix=[]
b=2
mi=0
mc=0
pi=0
pc=0
for i in range(r):
  a=[]
  for j in range(c):
    a.append(arr[b])
    b+=1
  matrix.append(a)
for i in range(len(matrix)):
  for j in range(len(matrix)):
    if matrix[i][j]=="1":
      mi=i
      mc=j
for i in range(len(matrix)):
  for j in range(len(matrix)):
    if matrix[i][j]=="2":
      pi=i
      pc=j
while mi==pi:
  if mi<pi:
    print("down")
    mi+=1
  else:
    print("up")
    mi-=1
while mc==pc:
  if mc<pc:
    print("right")
    mc+=1
  else:
    print("left")
    mc-=1

1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end=" ")
  print()

4
*
* *
* * *
* * * *

In [ ]:
n=int(input())
k=n-1
for i in range(n):
  for j in range(k):
    print(end=" ")
  k-=1
  for i in range(0,i+1):
    print("*",end=' ')
  print()

5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(((n-i))*" ","* "*i,end=" ")
  print()

5
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n=int(input())
for i in range(n):
   for k in range(n-i,0,-1):
    print("x",end='')
   print()

4
xxxx
xxx
xx
x

In [ ]:
num = int(input())
for i in range(1,num+1):
    for j in range(num,i,-1):
        print(" ",end="")
    for j in range(1,i+1):
        if (i == num):
            print("*",end=" ")
        elif(j == 1 or j == i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

6
     *
    * *
   *   *
  *     *
 *       *
* * * * * *

In [ ]:
n=int(input())
for i in range(n):
  x, y = [int(x) for x in input("Enter two values: ").split()]
  d=math.sqrt()

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n* fact(n-1) #function with recursion
n=int(input())          # recursion means calling finction more than two times
if n==0:                # in above case we call function i.e fact(n) more than two times
  print("1")
elif n==1:
  print("1")
elif n>1:
  print(fact(n))

10
3628800

In [ ]:
a=list(map(int,input().split))

In [ ]:
#merging of two sorted array
a=list(map(int,input().split()))  #a is sorted array is taken as input from user
b=list(map(int,input().split()))  #b ""                                        "
c=[]                               #c is list to store the final merg list
n1=len(a)
n2=len(b)
i=0
j=0
while i<n1 and j<n2:
  if a[i]<b[j]:
    c.append(a[i])
    i+=1
  else:
    c.append(b[j])
    j+=1
while i<n1:
  c.append(a[i])
  i+=1
while j<n2:
  c.append(b[j])
  j+=1
print(c)

1 4 6 7 9
2 3 5 8 11 12 13
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13]

In [ ]:
arr=list(map(int,input().split()))
n=len(arr)
b1=[]
b2=[]
for i in range(0,n//2):
  b1.append(arr[i])
for j in range(n//2,n):
  b2.append(arr[j])
print(b1)
print(b2)

14 42 6596 65252 5 8 6 747 84
[14, 42, 6596, 65252]
[5, 8, 6, 747, 84]

In [ ]:
# MergeSort in Python


def mergeSort(array):
    if len(array) > 1:
        r = len(array)//2
        L = array[:r]
        M = array[r:]
        mergeSort(L)
        mergeSort(M)
        i = j = k = 0
        while i < len(L) and j < len(M):
            if L[i] < M[j]:
                array[k] = L[i]
                i += 1
            else:
                array[k] = M[j]
                j += 1
            k += 1
        while i < len(L):
            array[k] = L[i]
            i += 1
            k += 1

        while j < len(M):
            array[k] = M[j]
            j += 1
            k += 1
def printList(array):
    for i in range(len(array)):
        print(array[i], end=" ")
    print()
if __name__ == '__main__':
    array = [6, 5, 12, 10, 9, 1]

    mergeSort(array)

    print("Sorted array is: ")
    printList(array)

Sorted array is:
1 5 6 9 10 12

In [ ]:
#spliting of array into single arr
def MergeSort(A):
    p=0
    r=len(A)
    if len(A) > 1 :
      q = (p+r)//2
      l=A[p:q]
      r=A[q:r]
      MergeSort(l)
      MergeSort(r)
      print(f"len of list {l} is {(len(l))}")
      print(f"len of list {r} is {len(r)}")
A=list(map(int,input().split()))
MergeSort(A)

9 -6 6 10 1 -3 -8 -3 -8 -2
len of list [9] is 1
len of list [-6] is 1
len of list [10] is 1
len of list [1] is 1
len of list [6] is 1
len of list [10, 1] is 2
len of list [9, -6] is 2
len of list [6, 10, 1] is 3
len of list [-3] is 1
len of list [-8] is 1
len of list [-8] is 1
len of list [-2] is 1
len of list [-3] is 1
len of list [-8, -2] is 2
len of list [-3, -8] is 2
len of list [-3, -8, -2] is 3
len of list [9, -6, 6, 10, 1] is 5
len of list [-3, -8, -3, -8, -2] is 5

In [ ]:
c='loki'+ \ 'konakalla'
print(c)

SyntaxError: ignored

In [ ]:
# partition of array using pivoit
arr=list(map(int,input().split()))
pivoit=int(input())
n=len(arr)
i=-1
j=0
while j<n:
  if arr[j]>pivoit:
    j+=1
  else:
    i+=1
    arr[i],arr[j]=arr[j],arr[i]
    j+=1
print(arr)

9 -6 6 10 1 -3 -8 -3 -8 -2
-2
[-6, -3, -8, -3, -8, -2, 6, 10, 1, 9]

In [ ]:
st=10
if st in range(10):
  print("0")
else:
  print("1")

1

In [ ]:
s=str(input())
newstring=""
for a in s:
 if (a.isupper()) == True:
   newstring += (a.lower())
 else:
   newstring += (a.upper())
print(newstring)

LoKEsH
lOkeSh

In [ ]:
def solve(n):
    # write your code here
    k=(n+1)
    for row in range(n):
        val=k-row
        dec=n-1
        for col in range(row+1):
            print(val,end='')
            val=int(val-dec)
            dec=dec-1
            print(".",end='')
        print()
n=int(input())
solve(n)

7
28.
27.21.
26.20.15.
25.19.14.10.
24.18.13.9.6.
23.17.12.8.5.3.
22.16.11.7.4.2.1.

In [ ]:
arr=list(map(int,input().split()))
arr2=[]
[arr2.append(i) for i in arr and if i not arr2]
print(*arr2)

SyntaxError: ignored

In [ ]:
n=3
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

* * *
* * *
* * *

In [ ]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
  for j in range(i):
    print("*",end=" ")
  print()

enter no of rows3
*
* *
* * *

In [ ]:
n=int(input("enter no of rows"))
for i in range(1,n+1):
  for j in range(i):
    for k in range(j):
      print(j,end=" ")
    print("*",end=" ")
  print()

enter no of rows3
*
* 1 *
* 1 * 2 2 *

In [ ]:
n=int(input())
B=[]
for i in range(n):
  A=int(input())
  B.append(A)
print(*B)

4
1
2
3
4

In [ ]:
arr=list(map(int,input().split()))
arr1=[]
arr2=[]
a=len(arr)//2
for i in range(a):
  arr1.append(arr[i])
for i in range(a,len(arr)):
  arr2.append(arr[i])
for i in range(len(arr1)):
  for j in range(i+1,len(arr1)):
    if arr1[i]>arr1[j]:
      arr1[i],arr1[j]=arr1[j],arr1[i]
print(*arr1,end=" ")
for i in range(len(arr2)):
  for j in range(i+1,len(arr2)):
    if arr2[i]<arr2[j]:
      arr2[i],arr2[j]=arr2[j],arr2[i]
print(*arr2)

5 2 3 9 4 5 2 2 4 10
2 3 4 5 9 10 5 4 2 2

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
B=[]
[B.append(i) for i in arr if i not in B]
print(B)

5
1 2 3 4 5 6 7 8 91 0 21 5 2 5 9 10 0 11 2 1
[1, 2, 3, 4, 5, 6, 7, 8, 91, 0, 21, 9, 10, 11]

In [ ]:
co=[]
for i in range(3):co.append(list(input().split()))
print(*co)

1 2 3

4 5 6
['1', '2', '3'] [] ['4', '5', '6']

In [ ]:
s=str(input())
open=["[","(","{"]
close=["]",")","}"]
top=-1
A=[]
for i in s:
  if i in open:
    A.append(i)
    top+=1
  elif i in close:
    pos=close.index(i)
    if    len(A)==0 or open[pos]!=A[top]:
      print("0")
    else:
      A.pop()
      top-=1
print(A)

0
0
0
['{', '{', '{', '(']

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
A=[]
[A.append(i) for i in arr if i not in A]
print(A)

5
1 2 3 4 52 11 2 5 3 1 8 6

[None, None, None, None, None, None, None, None, None]

In [ ]:
a=10
b=10
print(f"sum of {a} an")

In [ ]:
def solve(arr,target):
    if target in arr:
        k=arr.index(target)
        A.append(k)
        arr.pop(k)
    solve(arr,target)
arr=list(map(int,input().split()))
target=int(input())
A=[]
solve(arr,target)
print(*A)

In [ ]:
def solve(arr,a):
  if a in arr:
    k=arr.index(a)
    A.append(k)
    arr.remove(a)
    solve(arr,a)

arr=list(map(int,input().split()))
A=[]
a=int(input())
solve(arr,a)
b=A[0]+len(A)-1
print(A[0],end=" ")
print(b)

1 2 3 4 5 5 5 5 6 7 8
5
4 7

In [ ]:
n=int(input())
for i in range(0,n*2):
  for k in range(0,i):
      if i%2==0:
        print(end=" ")
      else:
        print(i,end=" ")
  print()

5

1

3 3 3

5 5 5 5 5

7 7 7 7 7 7 7

9 9 9 9 9 9 9 9 9

n=int(input())
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print(" ",end="t")
  for j in range(1,2*i):
    if j==1 or j==2*i-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()
for i in range(n-1,0,-1):
  for j in range(1,n-i+1):
    print(" ",end="")
  for j in range(1,2*i):
    if j==1 or j==2*i-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

In [ ]:
n=input()
ans=""
l=['1','2','3','4','5','6','7','8','9','0']
for i in n:
  if i in l:
    ans=ans + i
ans=str(ans)
ans=list(ans)
ans.sort(reverse=True)
if int(ans[-1])%2==0:
  print(ans)
else:
  for digit in range(len(ans)-1):
    if int(ans[digit])%2==0:
      smallest=ans[digit]
    else:
      print("-1")

  ans.remove(smallest)
  ans.append(smallest)
  for i in ans:
    print(i,end="")

SyntaxError: ignored

In [ ]:
a=list(map(int,input().split()))
a.sort()
print(a)

1 5 2 3 4 6 9 8 7 1
[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
ans=list(map(int,input().split()))
for digit in range(len(ans)-1):
   if int(ans[digit])%2==0:
     smallest=ans[digit]
print(smallest)
ans.remove(smallest)
ans.append(smallest)
for i in ans:
  print(i,end="")

5 4 2 1
2
5412

In [ ]:
n=input()
l=list(n)
for i in range(len(l)):
  l[i]=int(l[i])
for i in range(len(l)-1):
  k=l[i]*l[i+1]
  if str(k) in n:
    print(k,end=" ")

0123456789
0 2 6 12 56

In [ ]:
n=int(input())
for i in range(n,0,-1):
  for j in range(n,i-1):
    print(j,end=" ")
  print()

5

In [ ]:
n=int(input())
flag=False
if n>1:
  for i in range(2,n):
    if n%i==0:
      flag=True
      break
if flag==True:
  print("not prime")
else:
  print("prime")

3
prime

In [ ]:
n=int(input())
for i in range(2,n):
  if n%i==0:
    print("not prime")
    break
  else:
    print("prime")

21
prime
not prime

In [ ]:
print("lokesh")

lokesh

In [ ]:
num=int(input())
arr=[]
if num > 1:
    for i in range(2, num + 2):
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            arr.append(i)
print(*arr)

20
2 3 5 7 11 13 17 19

In [ ]:
n=2
for i in range(2,n):
  print("loki")

In [ ]:
n=input()
s=[]
count=0
a=0
for i in range(0,len(n)):
    if n[i]=="(":
        s.append(n[i])
        count+=1
    elif len(s)!=0 and n[i]==")":
        s.pop()
    else:
      a=-1

if len(s)==0 and a!=-1:
    print(count)
else:
    print("-1")

(()()())[
-1

In [ ]:
s="124"
b="254"
print(s+b)

124254

In [ ]:
s="52464"
s=s+"6"
print(s)

524646

In [ ]:
n=str(input())
for l in range(0,len(n)):
  print(n[l]+str(l),end=" ")

lokesh
l0 o1 k2 e3 s4 h5

In [ ]:
n="1202451245"
print(n.count("5"))

2

In [ ]:
n=input()
for i in range(0,10):
  if n.count(str(i))==0:
    print(i)

9491557132
0
6
8

In [ ]:
n=input()
if n.count("0")==0
print

n=1234
b=524
print

loki

l0 o1 k2 i3
l1o2k3i4

In [ ]:
n="lokesh"
n=n.upper()
print(n)

LOKESH

In [ ]:
n=input()
h=int(input())
if len(n)<h:
  print("does not exist")
else:
  print(n[h])

loki
2
k

In [ ]:
n=int(input())
a=0
print(a,end=" ")
b=1
for i in range(n-1):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

20
0 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
n=int(input())
a=0
print(a,end=" ")
b=1
print(b,end=" ")
c=2
for i in range(n-1):
  d=a+b+c
  print(d,end=" ")
  a=b
  b=c
  c=d

20
0 1 3 6 11 20 37 68 125 230 423 778 1431 2632 4841 8904 16377 30122 55403 101902 187427

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a+b==c or b+c==a or c+a==b:
  print("possible")
else:
  print("ipossible")

1
2
3
possible

In [ ]:
s=input()
n=0
m=0
for i in range(0,len(s)):
  if i%2!=0:
    n=int(s[i])+n
  else:
    m=int(s[i])+m
print(n-m)

124512
3

In [ ]:
n=int(input())
for i in range(n):
  print("*",end="")
print()
for i in range(n):
  for j in range(1,n+1):
    if j==1 or j==n:
      print("*",end="")
    else:
      print(end=" ")

  print()
for i in range(n):
  print("*",end="")

4
****
*  *
*  *
*  *
*  *
****

In [ ]:
n=int(input())
for i in range(n):
  N=int(input())
  M=int(input())
  S=list(map(int,input().split()))
  A=[]
  [A.append(i) for i in S if i not in A]
  l=len(A)
  if l>M:
    print("JANI")
  else:
    print("RAMYA")

2
10
6
1 2 1 4 1 1 3 1 1 5
RAMYA
6
3
1 2 3 4 2 1
JANI

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
l=[]
[l.append(i) for i in arr if i not in l]
print(*l)

1 2 3 4 5 2 1 3 6 7 8 9 1 0 2
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
n=int(input())
arr=list(map(int,input().split()))
arr1=arr[:n//2]
arr2=arr[n//2:]
arr1.sort()
arr2.sort(reverse=True)
print(arr1+arr2)

8
4 1 2 10 30 8 6 20
[1, 2, 4, 10, 30, 20, 8, 6]

In [ ]:
l=[1,2,3,4,5]
L=map(lambda x: x*2,l)
print(list(L))

[2, 4, 6, 8, 10]

In [ ]:
x,y=input().split("0")
print("x value is a::",x)
print("y value is a::",y)

2150213
x value is a:: 215
y value is a:: 213

In [ ]:
n=int(input())
k=int(input())
l=[]
for i in range(n):
  e=int(input())
  l.append(e)
print(sum(l)//2)

4
2
1
2
3
4
5

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
arr0=np.array([5,6,2,3,4,6])
arr1=np.dot(arr,arr0)
print(arr1)

91

In [ ]:
import numpy as np
arr=np.array([45,52,25,36])
v=arr.view()
arr[0]=50
print(v)
print()

[50 52 25 36]

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,2])
arr0=np.array([45,3,54,89,39,52])
x=np.sum([arr,arr0],axis=1)
print(x)
print("--------------------------------------------------------------------------------------")

[ 17 282]
--------------------------------------------------------------------------------------

In [ ]:
list_m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] #nested lists
arr_m = np.array(list_m,dtype=np.int16)
print(arr_m)

In [ ]:
arr_1= np.random.randint(10,100,7)
print(arr_1)

In [ ]:
x = [1,2,3]
a = np.asarray(x)
print (a)

In [ ]:
x = [1,2,3]
a = np.asarray(x)
print (a)

In [ ]:
import numpy as np
x = np.array([[3,2,1],[4,6,1]])
print(x.size)

In [ ]:
import numpy as np
a = np.array([[1,2,3],[4,5,6]])
a.itemsize

In [ ]:
import numpy as np
a = np.array([[1,2,3],[4,5,6]])
a.ndim

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
loki= pd.DataFrame(data)
print(df)
print("------------------------------------------------------------------------------------------------------------------------------")
print(loki.loc[0])

   calories  duration
0       420        50
1       380        40
2       390        45
------------------------------------------------------------------------------------------------------------------------------
calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
loki

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
import pandas as pd

In [ ]:
#Three lines to make our compiler able to draw:
import sys
import matplotlib

matplotlib.use('Agg')
import matplotlib.pyplot as plt

df.plot()

plt.show()

#Two  lines to make our compiler able to draw:

sys.stdout.flush()

NameError: ignored

In [ ]:
l1=["Hello","edyst"]
s='python'
l1.appen(s)
print(l1)

['Hello', 'edyst', 1, 2, 3, 4, 5]

In [ ]:
l1=["Hello","edyst"]
l2=[1,2,3]
l1.extend(l2)
print(l1)

['Hello', 'edyst', 1, 2, 3]

In [ ]:
l=[1,2,3]
mul=1
for i in range(0,len(l)):
  mul=mul*l[i]
print(mul)

6

In [ ]:
l1=[1,2,3,4,2]
l2=[1,2,3,5]
l3=l1+l2
print(l3)
print(l3.count(2))

[1, 2, 3, 4, 2, 1, 2, 3, 5]
3

In [ ]:
l1=[1,2,3,4,2]
l2=[1,2,3,5]
l3 = l1.sum()
l3

AttributeError: ignored

In [ ]:
l=[1,10,20,2,6,9,222,52,12]
l.sort(reverse))
print(l)

NameError: ignored

In [ ]:
l1=[1,2,3,4]
l2=[5,6,7,8,9]
l1.append(l2)
print(l2)

[5, 6, 7, 8, 9]

In [ ]:
n=int(input())
for i in range(0,n):
  for j in range(0,n):
    if i==0 or j==0 or i==n

In [ ]:
def fun(n):
  if n%5==0:
    x=int(n/5)
    print(x)
  else:
    print(int(n//5+1))
n=int(input())
fun(n)

54
11

In [ ]:
P=int(input())
T=int(input())
B=[]
for i in range(2):
  slab=int(input())
  emi=0
  for i in range(slab):
    t,i = [float(x) for x in input().split()]
    x=(1+i)**(t*12)
    y=(P*i)/(1-1/x)
    emi=emi+y
  B.append(emi)
if B[0]<B[1]:
  print("Bank_1")
else:
  print("Bank_2")

10000
20
3
5 9.5
10 9.6
5 8.5
3
10 6.9
5 8.5
5 7.9
Bank_2

In [ ]:
P=int(input())
T=int(input())
B=[]
for i in range(2):
  slab=int(input())
  emi=0
  for i in range(slab):
    t,i = [float(x) for x in input().split()]
    B.append(i)

if B[0]<B[1]:
  print("Bank_1")
else:
  print("Bank_2")

In [ ]:
P=int(input())
T=int(input())
B=[]
casea = int(input())
for i in range(casea):
  c,d= [float(x) for x in input().split()]
  B.append(d)
l=[]
caseb=int(input())
for j in range(caseb):
  p,q=[float(x) for x in input().split()]
  l.append(q)
v=sum(B)
u=sum(l)
if v>u:
  print("Bank 2")

else:
  print("Bank 1")

500000
26
3
13 9.5
3 6.9
10 5.6
3
14 8.5
6 7.4
6 9.6
Bank 1